* {
  box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;

}
.home-bg{
   
  background-image: url(img/banner_bg.png);
  background-repeat: no-repeat;
  padding-bottom: 3%;
  width: 100%;
  background-size: 80%;
}
.logo-img{
  width: 20%;
  padding-top: 60px;
  float: left;
}
.bt{
  width: 10%;
  float: left;
  padding-top: 60px;
  
}
.topnav {
  width: 70%;
  float: left;
    padding-top: 60px;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    justify-content: left;
  }
  .topnav img{
    padding-right: 90px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    display: inline;
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
 
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: transparent;
    color: rgb(14, 171, 219);
  }

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 768px){
  .logo-img{
    width: 100%;
  }
  .topnav{
    width: 100%;
  }
}

.banner{
  width:100%;
  padding-top: 20%;
  padding-left: 10%;
  padding-bottom: 20%;
 
}
.intro-1 {
  width:50%;
  float: left;
  padding-left: 10%;
}
.padding{
  padding-top: 50%;
}
@media only screen and (max-width: 768px){
  .banner{
    width: 100%;
  }
  .intro-1{
    width: 100%;
  }
}
.intro-1 h1{
  font-size: 250%;

}
.intro-1 p{
  text-transform: uppercase;
  color: grey;
  font-size: 100%;
 
  text-align: justify;
}
.intro-1 button{
  background-color: red;
  color: antiquewhite;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.main-feature{
  padding-top: 60%;
  
}
.feature-1{
  width:33.33%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.feature-2{
  width:33.33%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-3{
  width:33.33%;
  float: left;
  display: flex;
  justify-content: center;
   align-items: center;
 
}
.feature-card-1{
  display: flex;
  flex-direction: column; 
  justify-content: center;
   align-items: center;

}
.feature-card-2{
  display: flex;
  flex-direction: column; 
  justify-content: center;
   align-items: center;

}
.feature-card-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;

}
@media only screen and (max-width: 768px){
  .feature-1{
    width: 100%;
  }
  .feature-2{
    width: 100%;
  }
  .feature-3{
    width: 100%;
  }
}
.intro-feature{
  padding-top: 40%;
}
.intro-1{
   width: 50%;
   float: left;
   padding-top: 0;
}
.intro-2{
  width: 50%;
  float: left;
}
@media only screen and (max-width: 768px){
  .intro-1{
    width: 100%;
  }
  .intro-2{
    width: 100%;
  }

}
.intro-3{
  width: 50%;
  float: left;

}
.intro-4{
 width: 50%;
 float: left;
 padding-left: 7%;
}
.intro-4 h1{
  font-size: 250%;

}
.intro-4 p{
  text-transform: uppercase;
  color: grey;
  font-size: 100%;
 
  text-align: justify;
}
.intro-4 button{
  background-color: red;
  color: antiquewhite;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  
}
@media only screen and (max-width: 768px){
  .intro-3{
    width: 100%;
  }
  .intro-4{
    width: 100%;
  }

}
.heading{
  padding-top: 100%;
}
.heading h1{
  font-size: 300%;
  text-align: center;
  color: #000000;
}
.heading p{
  text-transform: uppercase;
  color: grey;
  font-size: 100%;
  text-align:center;
}
hr{
  width: 50%;
}
.pricing-1{
   width:25%;
   float:left;
   display: flex;
  justify-content: center;
  align-items: center;

}
.pricing-2{
  width:25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-3{
  width:25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-4{
  width:25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
   border: 2px solid rgba(216, 212, 212, 0.534);
   margin-left: 10px;
   margin-right: 10px;
   padding: 15px;

}
.pricing-card-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;

}
.pricing-card-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;

}
.pricing-card-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;

}
.main-pricing.card-header{
  font-size: 30px;
}
.main-pricing{
  padding-top: 10%;
}
@media only screen and (max-width: 768px){
  .heading{
    width: 100%;
  }
  .pricing-1{
    width: 100%;
  }
  .pricing-2{
    width: 100%;
  }
  .pricing-3{
    width: 100%;
  }
  .pricing-4{
    width: 100%;
  }

}
.blog-main{
  padding-top: 60%;
}
.blog-1{
  width: 50%;
  float: left;
}
.blog-2{
  width: 50%;
  float: left;
}
.blog-2 h1{
  font-size: 250%;
}
.blog-2 h3{
  font-size: 150%;

}
.blog-2 p{
  text-transform: uppercase;
  color: grey;
  font-size: 100%;
  text-align: justify;
}
@media only screen and (max-width: 768px){
  .blog-1{
    width: 100%;
  }
  .blog-2{
    width: 100%;
  }

}
.client-main{
  width: 100%;
  padding-top: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-main img{
  width: 70%;
}
.client-1{
  width: 16.66%;
  float: left;
}
.client-2{
  width: 16.66%;
  float: left;
}
.client-3{
  width: 16.66%;
  float: left;
}
.client-4{
  width: 16.66%;
  float: left;
}
.client-5{
  width: 16.66%;
  float: left;
}
.client-6{
  width: 16.66%;
  float: left;
}
@media only screen and (max-width: 768px){
  .client-1{
    width: 100%;
  }
  .client-2{
    width: 100%;
  }
  .client-3{
    width: 100%;
  }
  .client-4{
    width: 100%;
  }
  .client-5{
    width: 100%;
  }
  .client-6{
    width: 100%;
  }

}
.footer-bg{
  background-image: url("img/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer{
  padding-top: 20%;
}
.main-footer-1{
  width: 28%;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 3%;
}
.main-footer-2{
  width: 18%;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.main-footer-3{
  width: 18%;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.main-footer-4{
  width: 18%;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}
.main-footer-5{
  width: 18%;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.footer-text{
  text-transform: uppercase;
  color: grey;
  font-size: 81%;
  text-align: left;
  line-height: 130%;
}
.footer-heading{
  font-size: 130%;
  text-align: left;
}

@media only screen and (max-width: 768px){
  .main-footer-1{
    width: 100%;
  }
  .main-footer-2{
    width: 100%;
  }
  .main-footer-3{
    width: 100%;
  }
  .main-footer-4{
    width: 100%;
  }
  .main-footer-5{
    width: 100%;
  }

}